[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bpython = "*"
pytest = "==6.2.2"
fastapi = "*"
uvicorn = "*"
python-multipart = "*"

[dev-packages]
bpython = "*"

[requires]
python_version = "3.8"
